
@{
    ViewData["Title"] = "All Posts";
    int userId = (int)Context.Session.GetInt32("userId");
    string? userName = Context.Session.GetString("username");
}
@model AllPostsView
@await Html.PartialAsync("_Navbar")
<div class="container">

    <div>
        <div class="text-center">
            <h1 class="display-4">Welcome , @userName!</h1>
            <h1 class="display-4">All Post List</h1>
        </div>
            <div class="">
                <div class="border bg-light bg-gardient-25">
                    <table class="table table-stripped hover">
                        <thead>
                            <tr >
                                <th>ID</th>
                                <th>Title</th>
                                <th>Subject</th>
                                <th>Content</th>
                                @* <th>Poster</th> *@
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Post post in Model.AllPosts)
                                {
                                    <tr>
                                        <td>@post.PostId</td>
                                        <td>@post.Title</td>
                                        <td>@post.Subject</td>
                                        <td>@post.Content</td>
                                        @* <td>@post.Poster.Username</td> *@
                                        <td>
                                        @{
                                            if(post.UserId == userId)
                                            {
                                                <button class="btn btn-warning">Delete</button>
                                            } else 
                                                    {
                                                        if (post.PostLikes.Any(like => like.UserId == userId))
                                                        {
                                                            Like LikeToDelete = post.PostLikes.FirstOrDefault(like => like.PostId == post.PostId && like.UserId == userId);
                                                            @await Html.PartialAsync("_UnLike" ,LikeToDelete);
                                                        }
                                                        else
                                                            {
                                                                Model.Like.UserId = userId;
                                                                Model.Like.PostId = post.PostId;
                                                                @await Html.PartialAsync("_Like" , Model.Like);
                                                            }
                                                    }
                                        }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
