@{
    string Username = Context.Session.GetString("username");
    int userId = (int)Context.Session.GetInt32("userId");

}

@model List<Wedding>

@await Html.PartialAsync("_Navbar")
<div class="container">
    <h1>Welcome, @Username</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Wedding of </th>
            <th>Date </th>
            <th>Guest Count </th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Wedding wed in Model)
        {
            <tr>
                <td>
                    <a href="/Weddings/@wed.WeddingId">
                        @wed.WeddingOne & @wed.WeddingTwo
                    </a>
                </td>
                <td>@wed.Date</td>
                <td>@{
                        int guests = (int)wed.WeddingParticipation.Count();
                    }
                    @guests</td>
                <td>
                    @if (userId == wed.UserId)
                    {
                        <div class="d-flex gap-2">
                            <div>
                                <form asp-action="DeleteWedding" asp-controller="Weddings" method="post">
                                    <input type="hidden" name="wedId" value="@wed.WeddingId">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </div>
                            <div>
                                <a href="/wedding/@wed.WeddingId/edit" class="btn btn-success"> Update </a>

                            </div>
                        </div>

                    }
                    else
                    {
                        if (wed.WeddingParticipation
                        .Any(participation => participation.UserId == userId))
                        {
                            Participation participationToDelete = wed.WeddingParticipation
                            .FirstOrDefault(pat => pat.UserId == userId && pat.WeddingId == wed.WeddingId);

                            @await Html.PartialAsync("_UnParticipate" ,participationToDelete.ParticipationId)
                        }
                        else
                        {
                            Participation newParticipation = new()
                        {
                            UserId = userId,
                            WeddingId = wed.WeddingId
                        };
                            @await Html.PartialAsync("_Participate",newParticipation)
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

